body
{
    font-family: Britannic;
    background: linear-gradient(to right,darkturquoise,rgb(96, 247, 231),rgb(124, 248, 248),lightcyan);
    overflow: hidden;
    margin: 0;
    padding-top: 40px; 
}

#container
{
    height: 550px;
    width: 350px;
    margin: auto; 
    background: linear-gradient(to right,rgb(116, 129, 243),rgb(139, 159, 245),rgb(169, 199, 245),rgb(184, 206, 238));
    border-radius: 30px;
    text-align: center;
   
}

h1
{
    background-color: rgb(221, 48, 77);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;

}

button
{
    background-color: rgb(38, 26, 122);
    color:white;
    height: 30px;
    width: 80px;
    border:none;
    outline: none;

}

button:hover
{
    background-color:red;
    border-radius: 10px;
}

@media(max-width: 515px)
{
    #container
    {
        height: 450px;
        width: 250px;
    }

    h1
    {
        font-size: 20px;
    }
}